</br>
</br>
</br>
</br>
<hr>

<div class="small-5 small-centered columns panel" >
  <p class="text-center">Hello Kinga, login to add new projects</p>
  </br>

<form role="form" class="form-horizontal" ng-controller="LoginCtrl" ng-submit="attemptLogin()"
       method="post">

      <div class="form-group">
          <div class="errors">
          <div class="tip">{{ loginError }}</div>
          </div>
      </div>

      <div class="form-group">
        <label for="username" >email</label>
        <input id="username" type="email" class="form-control" ng-model="username" ng-disabled="asyncLogin.isLoading()" required>
        <i class="icon icon-user"></i>
      </div>

      <div class="form-group">
        <div class="errors"></div>
      </div>

      <div class="form-group" >
          <label for="username" class="col-sm-3">password</label>
          <input id="password" type="password" class="form-control" ng-model="password" ng-disabled="asyncLogin.isLoading()" required>
          <i class="icon icon-password"></i>
      </div>
      <div class="form-group text-center">
          <button type="submit" class="button success" ng-disabled="asyncLogin.isLoading()">{{asyncLogin.isLoading() ? 'Logging in...' : 'Log in'}}</button>
      </div>
  </form>

</div>
