</br>
</br>
</br>
</br>


<hr>
  <div class="row">
    <div class="small-5 columns text-center">
    </br>
    </br>
  </br>
      <img src="./assets/images/kinga.jpg" class="repeat-animation" ng-if="showAnimation">
        <p class="copyright repeat-animation" ng-if="showAnimation"> Photo taken by Brooks Yardley</p>
        <div class="devider repeat-animation" ng-if="showAnimation"></div>
        <a href="mailto:kingamichalska@yahoo.com" id="link_email" class="repeat-animation" ng-if="showAnimation" >kingamichalska@yahoo.com</a>
        <div class="devider repeat-animation" ng-if="showAnimation"></div>
        <a href="cv.pdf" target="blank" id="link_email" class="repeat-animation" ng-if="showAnimation" >Check out my CV</a>
        <div class="devider repeat-animation" ng-if="showAnimation"></div>

    </div>
    <div class="small-6 columns end">
      <div class="about-text">
        <p id="hi" class="repeat-animation" ng-if="showAnimation">Hi!</p>
        <p  class="repeat-animation" ng-if="showAnimation">I am a Montreal based visual
          artist specialised in portrait and event photography. My mission is to create intimate
          and authentic connections and provide a safer space for people to freely
          express themselves through my images.
          I am most interested in the issues of body, movement and gender. </p>

        <p class="repeat-animation" ng-if="showAnimation">
           My passion for photography is primarily anchored in the documentary work of Mary-Ellen
           Young and Diane Arbus. I also take inspiration from the minimalist aesthetics of
           Rinko Kawauchi’s art and the otherworldly, campy ambient of Tsai Ming-liang’s movies.
           I graduated form Warsaw
           School of Photography in 2010 and from Cultural Studies at Warsaw University in 2012.</p>

           <div class="repeat-animation" ng-if="showAnimation">
             <p>CONTACT ME FOR:</p>
             <ul>
              <li><p style="margin-bottom: 0"><strong>Photography:</strong> events, portraiture, dance, yoga and art documentation, film sets, family, promotional</p></li>
              <li><p style="margin-bottom: 0"><strong>Photo assisting:</strong>  studio and on location shoots</p></li>
              <li><p style="margin-bottom: 0"><strong>Graphic design:</strong> logos, buisness cards, posters, flyers</p></li>
              <li><p style="margin-bottom: 0"><strong>Video:</strong> documentation of events, performances</p></li>
              <li><p><strong>Creative collaborations:</strong> feminist art projects</p></li>
            </ul>
          </div>

           <p class="repeat-animation" ng-if="showAnimation">Please contact me if you’re interested in a private photo shoot
           or a creative collaboration. Yes, I will travel for work.</p>

       <br><br>

    </div>
    </div>
  </div>
