
</br>
</br>
</br>
</br>


  <div class="row">
    <div class="large-3 columns">
      <nav>
        <ul style="padding-top: 0; padding-left: 20px">
          <li><a ui-sref="projects({cat: ''})" ng-class="{active: toggledCategory === ''}">all</a></li>
          <li><a ui-sref="projects({cat: 'events'})" ng-class="{active: toggledCategory === 'events'}">events</a></li>
          <li><a ui-sref="projects({cat:'people'})" ng-class="{active: toggledCategory === 'people'}">people</a></li>
          <li><a ui-sref="projects({cat:'dance'})" ng-class="{active: toggledCategory === 'dance'}">dance</a></li>
          <li><a ui-sref="projects({cat:'personal'})" ng-class="{active: toggledCategory === 'personal'}">personal</a></li>
        </ul>
      </nav>

    </div>

    <div class="large-9 columns padding-top">
      <div ng-if="projects.length === 0" class="large-4 columns end thumbnail repeat-animation">
        <img class="projectThumbnail"  src="./assets/images/flickr.svg"/>
      </div>
      <div class="large-4 columns end thumbnail repeat-animation" ng-repeat="project in projects | orderBy: 'project_date':true
      | filter:{category: toggledCategory || ''}">
        <a ui-sref="showProject(project)">
          <!-- <img class="projectThumbnail" ng-src="{{project.thumbnail}}" alt="{{project.title}}"> -->
          <img style="width: 100%; height:auto;" class="projectThumbnail"  src="./assets/images/flickr.svg"
              data-layzr="{{findAvatar(project)}}"  >

          <span class="project-title">{{project.title}}</span>
        </a>
      </div>
    </div>
  </div>
