body {
  background: rgba(234,234,234,0.7);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

hr {
  margin-left: -19%;
  margin-top: 30px;
  margin-right: 30px;
  border: none;
  border-top: 1px solid #353535;
  opacity: .4;
  margin-bottom: 0.5em;
}

.panel {
  margin-top: 50px;
}

.thumbnail {
  border-radius:50%;
}

a , p {
  font-family: Didot,'DidotLTStdRoman','Times New Roman',Times,serif;
  color: #353535;
  text-decoration: none;
  // text-transform: lowercase;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
   transition: width 1s ease-in-out, left 1.5s ease-in-out;
   font-style: italic;
   font-size: 11pt;
   font-weight: lighter;
}

ul {
  list-style: none;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}
// injector
// endinjector
