.devider {
  border-top: 1px solid #353535;
  opacity: .4;
  width:150px;
  height:1px;
  margin:10px auto;
}

.copyright {
  margin:10px 0 60px;
  font-size:10px;
}

#hi {
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  margin-bottom: 0;
}
