nav {
  font-style: italic;

  &.small-4 {
    padding-left: 0;
  }

  ul {
    padding-top:40%;
    margin-left:0;
  }

  a {
    text-transform: lowercase;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
     transition: width 1s ease-in-out, left 1.5s ease-in-out;

     font-size: 11pt;
     font-weight: lighter;
     &.active {
       opacity: 0.3;
     }
  }
}
