.rslides {
  position: fixed;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 200px;
  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    &:first-child {
      position: relative;
      display: block;
      float: left;
    }
  }
  img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
}

@media (max-width: 800px) {
  .rslides {
    top: 120px;
    left: 0px;
  }
}
