.project-title-show {
  font-family: Didot,'DidotLTStdRoman','Times New Roman',Times,serif;
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 18px;
  font-style: italic;
  font-weight: lighter;
}

.project-tags {
  font-family: Didot,'DidotLTStdRoman','Times New Roman',Times,serif;
  font-style: italic;
  font-size: 11pt;
  color: #353535;
  margin-bottom: 5px;
  margin-top: 0;
}

.show-photo {
  margin-bottom:20px;
  .horizontal {
    width:100%;
  }
}
