.project-title-show {
  font-family: 'Open Sans', sans-serif;  font-size: 30pt;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.project-tags {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: #353535;
  margin-bottom: 5px;
  margin-top: 0;
}

.show-photo {
  margin-bottom:20px;
  .horizontal-true {
    width:100%;
  }
  .horizontal-false {
    width:60%;
  }
}
