</br>
</br>
</br>
</br>
<hr>
<div class="container">
  <div class="row">
    <button ui-sref="addNewProject">add new project</button>
  </div>
  <div class="row">
      <div class="large-4 columns panel end text-center" ng-if="project" ng-repeat="project in projects | orderBy: 'project_date':true">
          <h3>{{project.title}}</h3>
          <img class="thumbnail" ng-src="{{project.thumbnail}}" alt="{{project.title}}">
          <button ng-click="delete(project)">Delete</button>
          <button ng-click="edit(project)">Edit</button>
      </div>
  </div>
</div>
